.detalhesEvento{
	box-shadow: opx opx 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
	
}

.form{
	box-shadow: opx opx 5px grey;
	padding-left: 20px;
	margin-bottom: 60px;
	margin-bottom: 40px;
	

}

.nomeConvidado{
	box-shadow: opx opx 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
	
}

