<! DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
	<head>
	<title>EventoApp</title>
	</head>
	
	<body>
		<h1>Formulario de Cadastro de eventos</h1>
	
		<form  method="post">
			NOME: <input type="text" value="" name="nome">
			LOCAl: <input type="text" value="" name="local">
			DATA:  <input type="date" value="" name="data">
			HORARIO:<input type="text" value="" name="horario">
			
			<button type="submit" >Salvar </button>
		</form>
	
	</body>


</html>